<div class="container">
  <div class="row">
    <app-cockpit
      (serverCreated)="onServerCreated($event)"
      (bpCreated)="onBlueprintCreated($event)"
    >
    </app-cockpit>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirstElement()">
        Change First Element
      </button>
      <button class="btn btn-primary" (click)="onDestroyFirstElement()">
        Destroy First Element
      </button>
      <app-server-element
        *ngFor="let serverElement of getServerElements()"
        [srvName]="serverElement.name"
      >
        <!-- [srvElement]="serverElement" -->
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">
            {{ serverElement.content }}
          </strong>
          <em *ngIf="serverElement.type === 'blueprint'">
            {{ serverElement.content }}
          </em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
